#sing-up.popup
  .popup__wrap
    .popup__content
      h4.title-h4.popup__title Sign up
      p.text-small.gray-700.popup__description Registration takes less than a minute but gives you full control over your studying.

      form(novalidate).form-sing
        label.label-input.form-sing__input
          h5.text-small.label-input__title Full Name
          input(type="email", placeholder="Your full name", name="name").input-small

        label.label-input.form-sing__input
          h5.text-small.label-input__title Email
          input(type="email", placeholder="Your working email", name="email").input-small
          
        label.label-input.form-sing__input
          h5.text-small.label-input__title Password
          input(type="password", placeholder="Your working password", name="password").input-small
          .label-input__show
            span.icon-eye

        label.label-input.form-sing__input
          h5.text-small.label-input__title Confirm Password
          input(type="password", placeholder="Confirm Password", name="confirm").input-small
          .label-input__show
            span.icon-eye

        .form-sing__block
          label.label-checkbox
            input(type="checkbox", name="agree")
            h5.text-small Remember me

        button(type="submit").btn-main.btn-small.form-sing__btn Sign up

      .asd
        p.text-small.gray-800 Already have an account? 
          a(href="#", data-modal="sing-in") Sign in
      
      .sing-with
        p.text-small.gray-700 Or sign in with
        .sing-with__socials
          a(href="#")
            span.icon-facebook
          a(href="#")
            span.icon-google
          a(href="#")
            span.icon-twitter
          a(href="#")
            span.icon-linkedin

      button.popup__close