.popup
  .popup__wrap
    .popup__content
      h3.title-h3 Thank you
      p.text-main Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi architecto exercitationem commodi quibusdam tempora animi rerum veniam asperiores velit.
      p.text-main Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi architecto exercitationem commodi quibusdam tempora animi rerum veniam asperiores velit.
      p.text-main Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi architecto exercitationem commodi quibusdam tempora animi rerum veniam asperiores velit.
      p.text-main Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi architecto exercitationem commodi quibusdam tempora animi rerum veniam asperiores velit.
      p.text-main Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi architecto exercitationem commodi quibusdam tempora animi rerum veniam asperiores velit.
      p.text-main Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi architecto exercitationem commodi quibusdam tempora animi rerum veniam asperiores velit.
      p.text-main Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi architecto exercitationem commodi quibusdam tempora animi rerum veniam asperiores velit.
      p.text-main Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi architecto exercitationem commodi quibusdam tempora animi rerum veniam asperiores velit.
      p.text-main Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi architecto exercitationem commodi quibusdam tempora animi rerum veniam asperiores velit.
      p.text-main Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi architecto exercitationem commodi quibusdam tempora animi rerum veniam asperiores velit.
      p.text-main Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi architecto exercitationem commodi quibusdam tempora animi rerum veniam asperiores velit.
      p.text-main Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi architecto exercitationem commodi quibusdam tempora animi rerum veniam asperiores velit.
      p.text-main Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi architecto exercitationem commodi quibusdam tempora animi rerum veniam asperiores velit.
      p.text-main Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi architecto exercitationem commodi quibusdam tempora animi rerum veniam asperiores velit.

      button.popup__close